h2, h3 {
    text-align: center;
    margin: 5px;
  }

body {
  /* background: rgb(255, 255, 255); */
  background: rgb(0, 0, 0);
  color: #4e4e4e;
  font-family:  "Helvetica Neue", Arial, sans-serif;
}

canvas {
  /* background: #000000; */
  padding: 20;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

#gameContainer {
  position: absolute;
  height:300px;
}

#buttons {
  margin: 20px;
  position: relative;
  background: rgb(194, 194, 194);
  border-radius:5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  /* margin:100px auto; */
  padding:30px 20px 20px;
  width:400px;
  /* text-align: right; */
}

button {
	display: inline-block;
  margin: -5px 0 0 3px;
  padding: 0.25rem 0.75rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: rgb(129, 129, 129);
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
  float: right;
}

button:hover {
	opacity: 0.85;
}

button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

#startButton {
  background-color: rgb(54, 65, 223);
}

#toggleButtons {
  /* margin: auto; */
  /* width: 70%; */
  padding: 10px 0 10px 0;
}

#timer {
  position: absolute;
  bottom: 0;
  margin: 10px;
}

#blueColorButton {
  background-color:#00BFFF;
  padding: 15px;
}

#orangeColorButton {
  background-color:orange;
  padding: 15px;
}

#pinkColorButton {
  background-color:pink;
  padding: 15px;
}

#yellowColorButton {
  background-color:gold;
  padding: 15px;
}

#greyBackgroundButton {
  background-color:#000;
  padding: 15px;
}

#blackBackgroundButton {
  background-color:#9c9c9c;
  padding: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  float: right;
  margin: 5px 0;
}

.slider:hover {
  opacity: 0.85;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  /* border-radius: 80%; */
  background: #4e4e4e;
  cursor: pointer;
}
